:root {
  --bg-h: 200;
  --bg-s: 70%;
  --bg-l: 40%;
  --fg: #fff;
}

body {
  text-align: center;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: rgb(224, 24, 108);
}

.datepicker {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.selectDateLabel {
  margin-right: 15px;
  color: #333333;
}

#ngayRaQuanDatePicker {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.timeZone {
  font-size: 18px;
  margin-top: 10px;
  color: #555555;
}

.subTitle {
  font-size: 1rem;
  margin-top: 20px;
  display: block;
  color: gray;
}

.result {
  display: flex;
  justify-content: center;
}

.result > div {
  margin: 0 20px;
}

#days-count,
#weeks-count,
#months-count {
  font-size: 48px;
  font-weight: bold;
  color: #16a085;
  display: block;
  margin-top: 20px;
}

#weeks-count {
  color: #2c3e50;
}

#months-count {
  color: #c0392b;
}

.today {
  margin-top: 30px;
  font-size: 18px;
  color: #130f40;
}

.clock {
  margin-top: 10px;
  color: #eb4d4b;
}