body {
      text-align: center;
      margin-top: 50px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    .title {
      font-size: 36px;
      font-weight: 600;
      color: burlywood;
    }

    #ngayRaQuanDatePicker {
      font-size: 20px;
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .timeZone {
      font-size: 18px;
      margin-top: 10px;
      color: #555555;
    }

    .subTitle {
      font-size: 24px;
      margin-top: 30px;
      display: block;
      color: gray;
    }

    #days-count, #weeks-count, #months-count {
      font-size: 48px;
      font-weight: bold;
      color: #ff5733;
      display: block;
      margin-top: 20px;
    }

    #weeks-count {
      color: #03ff74;
    }

    #months-count {
      color: #f302cb;
    }
    